{% import "templates/macros/modal.html" as modal %}
{% if cart_quotation.coupon_code %}
    <span
        class="w-fit inline-flex overflow-hidden rounded-lg border border-dashed border-gray-400 bg-white text-xs font-medium text-gray-600 ">
        <span class="flex items-center gap-1 bg-gray-400/10 px-2 py-1">
            {{coupon_code}}
            <button @click="remove_coupon_code($el)"
                class="flex items-center disabled:cursor-not-allowed">
                <div class="close">
                    {{icon(name="close",classes="h-4 w-4 cursor-pointer")}}
                </div>
                <div class=" hidden animate-spin  size-3 border-3 border-current border-t-transparent  rounded-full ms-2"
                    role="status" aria-label="loading">
                </div>
            </button>
        </span>
    </span>
{% else %}
    {% call modal.modal(button_text='apply promo code',button_classes='text-md text-secondary-accent underline decoration-accent
    md:text-base capitalize',
    modal_header='Apply a promo code', header_alignment='center',modal_classes='w-fit') %}
        <div class="p-10 w-full">
            <div class="relative w-full" x-data="{ coupon_code: '' }">
                <input type="text"
                    class="w-full border-outline bg-white border border-gray-300 rounded-xl px-2 py-2 pl-5 pr-30 text-sm text-gray-400  focus:outline-none disabled:cursor-not-allowed disabled:opacity-75  cursor-pointer"
                    name="prompt" placeholder="Apply Code" x-model="coupon_code" />
                <button type="button"
                    class="absolute right-0 top-1/2 -translate-y-1/2 cursor-pointer bg-red-800 rounded-xl p-2 px-5 text-base tracking-wide text-white transition hover:opacity-75  active:outline-offset-0 flex items-center disabled:cursor-not-allowed disabled:opacity-75"
                    @click="apply_coupon(coupon_code,$refs)" x-ref="apply_coupon_ref">Apply 
                    <span
                        class="hidden animate-spin size-5 border-3 border-current border-t-transparent rounded-full ms-2"
                        role="status" aria-label="loading">
                    </span>
                </button>
            </div>
        </div>
    {% endcall %}
{% endif %}


<script defer>
    async function apply_coupon(coupon_code, ref) {
        if (!coupon_code) {
            toast("Please enter a coupon code", { type: "warning" })
            return;
        }
        const btn = ref.apply_coupon_ref
        const spinner = btn.querySelector(".animate-spin");
        btn.disabled = true;
        spinner.classList.remove("hidden");
        const args = {
            'applied_code': coupon_code
        }
        try {
            await frappe_call('/api/v2/method/ls_shop.api.payments.apply_coupon_code', args)
            confetti({
                particleCount: 100,
                spread: 70,
                origin: { y: 0.6 }
            });
            window.location.reload()
        }
        catch (err) {

        }
        finally {
            btn.disabled = false;
            spinner.classList.add("hidden");
        }
    }
    async function remove_coupon_code(btn) {
        const spinner = btn.querySelector(".animate-spin");
        const close = btn.querySelector(".close");
        btn.disabled = true;
        spinner.classList.remove("hidden");
        close.classList.add("hidden");
        try {
            const data = await frappe_call('/api/v2/method/ls_shop.api.payments.remove_coupon_code', {});
            window.location.reload()
        }
        catch (err) {
        }
        finally {
            btn.disabled = false;
            spinner.classList.add("hidden");
            close.classList.remove("hidden");

        }

    }
</script>