{% from "templates/macros/item_card.html" import item_card %}

{% macro product_card(
    image,
    brand,
    product_name,
    formatted_price,
    original_price=0,
    discount=0,
    variations="",
    size_variant="default",
    show_wishlist=True,
    image_size="w-45 h-60 md:w-55 md:h-70 lg:w-3xs lg:h-85",
    product_obj=None,
    attribute_value=""
) %}
{{ item_card(image, brand, product_name, formatted_price, original_price, discount, variations, size_variant, show_wishlist, image_size, product_obj, attribute_value) }}
{% endmacro %}
