<script>
    async function sign_up_user(signup_data, ref) {
        const email = signup_data.email;
        if (!email) {
            toast("Please enter a valid email", { type: "warning" });
            return;
        }
        const args = {
            'email': email
        };
        const btn = ref.sign_in_btn
        const spinner = btn.querySelector(".animate-spin");
        btn.disabled = true;
        spinner.classList.remove("hidden");
        try {
            const data = await frappe_call('/api/v2/method/ls_shop.api.signup.send_signup_otp', args);

            toast("OTP sent successfully, please check you email.", { type: "success" });
            signup_data.otp_sent = true;


        } catch (error) {

        }
        finally {
            btn.disabled = false;
            spinner.classList.add("hidden");
        }
    }

    function handle_digit_input(data, refs, event, index) {
        event.target.value = event.target.value.replace(/[^0-9]/g, '').substring(0, 1);

        data.otp[index] = event.target.value;

        if (event.target.value && index < 5) {
            refs['otp' + (index + 1)].focus();
        }
    }

    function handle_backspace(refs, event, index) {
        if (!event.target.value && index > 0) {
            refs['otp' + (index - 1)].focus();
        }
    }

    function handle_paste(data, refs, event, startIndex) {
        event.preventDefault();
        const clipboardData = event.clipboardData || window.clipboardData;
        const pastedData = clipboardData.getData('Text').trim();

        if (!/^\d+$/.test(pastedData)) return;

        for (let i = 0; i < 6; i++) {
            if (i < pastedData.length) {
                data.otp[i] = pastedData.charAt(i);
            } else {
                data.otp[i] = '';
            }
        }

        if (pastedData.length < 6) {
            refs['otp' + Math.min(startIndex + pastedData.length, 5)].focus();
        } else {
            refs.otp5.focus();
        }
    }

    async function verify_otp(x_data, ref) {
        const otpValue = x_data.otp.join('');
        if (otpValue.length !== 6) {
            toast("Please enter a valid 6-digit OTP", { type: "warning" });
            return;
        }
        let url;
        let args;
        if (x_data.selected_tab === 'login') {
            url = '/api/v2/method/ls_shop.api.signup.verify_login_otp';
            args = {
                'email': x_data.email,
                'otp': otpValue,
            };
        } else {
            url = '/api/v2/method/ls_shop.api.signup.verify_signup_otp';
            args = {
                'email': x_data.email,
                'otp': otpValue,
                'first_name': x_data.first_name,
                'last_name': x_data.last_name

            }
        }
        const btn = ref.verify_otp_btn
        const spinner = btn.querySelector(".animate-spin");
        btn.disabled = true;
        spinner.classList.remove("hidden");
        try {
            const data = await frappe_call(url, args);
            let message = "Logged in successfully"
            if (url === '/api/v2/method/ls_shop.api.signup.verify_signup_otp') {
                message = "Account created successfully"
            }
            toast(message, { type: "success" });
            setTimeout(() => {
                window.location.reload()
            }, 1000);
        } catch (error) {

        }
        finally {
            btn.disabled = false;
            spinner.classList.add("hidden");
        }
    }
    function start_resend_timer(x_data) {
        x_data.resend_timer = 15;
        x_data.resend_interval = setInterval(() => {
            if (x_data.resend_timer > 0) {
                x_data.resend_timer--;
            } else {
                clearInterval(x_data.resend_interval);
                x_data.resend_interval = null;
            }
        }, 1000);
    }
    function resend_otp(x_data, ref) {
        if (x_data.resend_timer > 0) return;
        start_resend_timer(x_data);
        if (x_data.selected_tab === 'login') {
            login_user(x_data, ref);
        }
        else {
            sign_up_user(x_data, ref);
        }
    }

    async function login_user(x_data, ref) {
        const email = x_data.email;
        if (!email) {
            toast("Please enter a valid email", { type: "warning" });
            return;
        }
        const args = {
            'email': email
        };
        const btn = ref.login_otp_btn
        const spinner = btn.querySelector(".animate-spin");
        btn.disabled = true;
        spinner.classList.remove("hidden");
        try {
            const data = await frappe_call('/api/v2/method/ls_shop.api.signup.send_login_otp', args);

            toast("OTP sent successfully, please check you email.", { type: "success" });
            x_data.otp_sent = true;


        } catch (error) {
        }
        finally {
            btn.disabled = false;
            spinner.classList.add("hidden");
        }
    }
</script>
