{% macro combo_box(options=[],id='',show_title = False) %}
<div x-data="{
    allOptions: {{options}},
    options: [],
    isOpen: false,
    openedWithKeyboard: false,
    selectedOption: null,
    setSelectedOption(option) {
        this.selectedOption = option
        this.isOpen = false
        this.openedWithKeyboard = false
        this.$refs.hiddenTextField.value = option.warehouse_name||option.name
    },
    getFilteredOptions(query) {
        this.options = this.allOptions.filter((option) =>
            option.display.toLowerCase().includes(query.toLowerCase()),
        )
        if (this.options.length === 0) {
            this.$refs.noResultsMessage.classList.remove('hidden')
        } else {
            this.$refs.noResultsMessage.classList.add('hidden')
        }
    },
    handleKeydownOnOptions(event) {
        // if the user presses backspace or the alpha-numeric keys, focus on the search field
        if ((event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode === 8) {
            this.$refs.searchField.focus()
        }
    },
}" class="flex w-full  flex-col gap-1" x-on:keydown="handleKeydownOnOptions($event)"
    x-on:keydown.esc.window="isOpen = false, openedWithKeyboard = false" x-init="options = allOptions">
    <div class="relative">
        <button type="button"
            class="inline-flex w-full items-center justify-between gap-2 border border-gray-300 rounded-lg bg-white p-4 text-sm font-medium tracking-wide text-gray-600 transition  hover:bg-gray-100 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900 "
            role="combobox" aria-controls="combosList" aria-haspopup="listbox" x-on:click="isOpen = ! isOpen"
            x-on:keydown.down.prevent="openedWithKeyboard = true" x-on:keydown.enter.prevent="openedWithKeyboard = true"
            x-on:keydown.space.prevent="openedWithKeyboard = true" x-bind:aria-expanded="isOpen || openedWithKeyboard"
            x-bind:aria-label="selectedOption ? selectedOption.value : $store.i18n.t('Please Select')">
            <span class="text-sm font-normal text-left" x-text="selectedOption ? selectedOption.display : $store.i18n.t('Please Select')"></span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5"
                aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                    clip-rule="evenodd" />
            </svg>
        </button>
        <input id="{{id}}_combo" name="{{id}}_combo" x-ref="hiddenTextField" hidden="" />
        <div x-show="isOpen || openedWithKeyboard" id="{{id}}_combosList"
            class="absolute left-0 top-11 z-10 w-full overflow-hidden rounded-lg border border-gray-300 bg-white  "
            role="listbox" aria-label="industries list" x-on:click.outside="isOpen = false, openedWithKeyboard = false"
            x-on:keydown.down.prevent="$focus.wrap().next()" x-on:keydown.up.prevent="$focus.wrap().previous()"
            x-transition x-trap="openedWithKeyboard">
            <div class="relative">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                    stroke-width="1.5" class="absolute left-4 top-1/2 size-5 -translate-y-1/2 text-gray-600/50 "
                    aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
                <input type="text"
                    class="w-full border-b border-gray-300 bg-white py-2 ps-11 pe-4 text-sm text-gray-600 focus:outline-hidden focus-visible:border-gray-900 disabled:cursor-not-allowed disabled:opacity-75   "
                    aria-label="Search" x-on:input="getFilteredOptions($el.value)" x-ref="searchField"
                    placeholder="Search" />
            </div>

            <ul class="flex max-h-44 flex-col overflow-y-auto">
                <li class="hidden px-4 py-2 text-sm text-gray-600 " x-ref="noResultsMessage">
                    <span>No matches found</span>
                </li>
                <template x-for="(item, index) in options" x-bind:key="item.name">
                    <li class="combobox-option inline-flex justify-between gap-6 bg-white px-4 py-3 text-sm text-gray-600 hover:bg-neutral-900/5 hover:text-gray-600 focus-visible:bg-neutral-900/5 focus-visible:text-gray-600 focus-visible:outline-hidden  "
                        role="option" x-on:click="setSelectedOption(item)" x-on:keydown.enter="setSelectedOption(item)"
                        x-bind:id="'{{id}}_option-' + index" tabindex="0">
                        <div>
                            <div x-show="'{{show_title}}'==='True'" x-bind:class="selectedOption == item ? 'font-semibold' : 'font-medium'"
                                class="flex mb-1 text-base  items-center">
                                <h6 x-text="item.title"></h6>
                            </div>
                            <span x-bind:class="selectedOption == item ? 'font-medium' : null" x-text="item.display"></span>
                        </div>
                        <span class="sr-only" x-text="selectedOption == item ? 'selected' : null"></span>
                        <svg x-cloak x-show="selectedOption == item" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="size-4"
                            aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5">
                        </svg>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</div>

{% endmacro %}