{% macro tabby(selector='tabby-promo',price=100) %}

<script src="https://checkout.tabby.ai/tabby-promo.js"></script>
<script defer>
    new TabbyPromo({
     selector: '#{{selector}}',
     currency: 'SAR', // required, AED|SAR|KWD only supported, with no spaces or lowercase.
     price: '{{price}}', // required, price of the product. 2 decimals max for AED|SAR and 3 decimals max for KWD.
     lang: '{{ frappe.lang }}', // Optional, en|ar only supported
     source: 'product', // Optional, snippet placement; `product` for product page and `cart` for cart page.
     productType: 'installments'
   });
</script>
<div class="min-h-[98px]" id="{{selector}}"></div>

{% endmacro %}