{% extends "templates/layout.html" %}
{% from "templates/macros/item_card.html" import item_card %}
{% from "templates/macros/icon.html" import icon %}
{% from "templates/macros/modal.html" import modal %}
{% from 'templates/macros/tabby-promo.html' import tabby   %}
{% block head %}
{% include "templates/partials/products_details/head.html" %}
{% endblock %}
{% block body %}
{% include "templates/partials/products_details/body.html" %}
{% endblock %}
{% block script %}
{% include "templates/partials/products_details/script.html" %}
{% endblock %}