<div x-data="{
  current_lang: window.location.pathname.startsWith('/ar') ? 'ar' : 'en',
  dropdown_open: false,
  async change_language(lang) {
      if (lang === this.current_lang) return; // Do nothing if already selected
      let newUrl = window.location.pathname.replace(/^\/(en|ar)/, `/${lang}`);
      Alpine.store('i18n').i18n = {};
      Alpine.store('i18n').lastFetched = null;
      await Alpine.store('i18n').init();
      window.location.href = newUrl;
  }
}">

  <div class="relative">
    <button class="flex items-center rounded-lg border border-gray-300 px-4 py-1 w-fit cursor-pointer"
      @click="dropdown_open = !dropdown_open">
      <div></div>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 me-2" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
      </svg>
      <span class="me-2" x-text="current_lang === 'en' ? 'English' : 'العربية'"></span>

      <svg xmlns="http://www.w3.org/2000/svg" :class="{ 'h-4 w-4 ': true, 'transition-transform duration-200 transform rotate-180': dropdown_open }"
        fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>

    <div x-show="dropdown_open" @click.away="dropdown_open = false"
      class="absolute left-0 mt-2 w-full bg-white border border-gray-300 rounded-lg shadow-md z-50" x-cloak>
      <ul class="py-2">
        <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer" @click="change_language('en'); dropdown_open = false">
          English
        </li>
        <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer" @click="change_language('ar'); dropdown_open = false">
          العربية
        </li>
      </ul>
    </div>
  </div>
</div>