{% extends "components/base.html" %}

{% block alpine_plugins %}
{% include "templates/partials/checkout/alpine_plugins.html" %}
{% endblock %}

{% import "templates/macros/modal.html" as modal %}
{% from "templates/macros/address_form.html" import address_form %}
{% import "templates/macros/search_combo_box.html" as search_combo_box %}
{% from "templates/macros/icon.html" import icon %}
{% include "templates/js/form.js.html" %}

{% block body %}
{% include "templates/partials/checkout/body.html" %}
{% endblock %}
